@using Catalog.DAL.Entities
@using MyCatalogSite.Helpers
@{
    ViewData["Title"] = "Categories";
}
@model List<Category>;
<h1>@ViewData["Title"]</h1>


<p>Category list.</p>
<ul>
    @foreach (var category in Model) 
    {
        string imageName = $"Image-{@category.CategoryId}";

        <li class="d-flex">
          <div><img src="/images/@category.CategoryId" class="img-thumbnail" /></div>
          <div class="ml-4">
              <p>@category.CategoryName - "@category.Description"</p>
              <a asp-controller = "Categories" asp-action = "UploadImage" 
               asp-route-id = "@category.CategoryId">Upload/Change Image</a>
            <div>Image link by tagHelper: <a northwind-id="@category.CategoryId">@imageName</a></div>
            <div>Image link by HTMLHelper: @Html.NorthwindImageLink(@category.CategoryId, @imageName)</div>
          </div>
        </li>
    }
</ul>

@section Footer {
    <footer class="border-top footer text-muted">
            <div class="container">
                <p class="text-info">Notice! It's not possible to edit categories.</p>
            </div>
    </footer>
}
